SPL/src/Login.css [33:40]:
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
}

/* Formulaire */
.auth-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
  font-size: 0.95rem;
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -



SPL/src/Signup.css [43:49]:
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
}

.auth-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
  font-size: 0.95rem;
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -



