SPL/src/AddVersion.css [26:31]:
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  width: 90%;
  margin-top: 0.4rem;
  padding: 0.7rem;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  background: #f8fafc;
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -



SPL/src/AddVersion.css [68:73]:
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  width: 90%;
  margin-top: 0.4rem;
  padding: 0.7rem;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  background: #f8fafc;
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -



